.w-20{
  width:20%;
}
.w-30{
  width:30%;
}
.logo{
  width:150px;
}
.bi{
  margin-right: 10px;;
}
.story{
  height:70px;
  padding:10px;
}
.dp{
  height:20px;
  width:20px;
   border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.image{
  width:500px;
}

.suggestions h5{
  font-size: 10px;
}
.suggestions .dp{
  margin-top: 0px !important;
}
.gradiant-border{
  width:45px;
  height:45px;
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600,#ffcc00);

}
.story-dp{
  width:40px;
  height:40px;
  border-radius: 50%;
  
}
.profile{
  width:200px;
  height:200px;
}